#contact {
    height: 20vh;

}

#contact form {
    width: 30vw;
    margin: auto;
    display: flex;

}

#contact h1 {
    margin: auto;
    width: 100vw;
    text-align: center;
}

.messageMe {
    height: 40px;
    margin-top: 30px;
    border: none;
    background-color: black;
    color: white;

}

.socialMedia {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-around
}

.socialMedia img {
    height: 80px;
    width: 80px;
}

.resumeButton {
    border: none;
    background: white;
    margin: auto;

}

.resumeButton img {
    height: 80px;
    width: 80px;
}

.resume {
    width: 600px;
    margin: auto;
    text-align: center;
}