.parallaxcontainer{
    max-width: 100vw;
    margin-top: 0;
    background: white;
    font-size: 4vw;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Amatic SC', cursive;
    z-index: -1;
    width: 100vw;
}

.parallax{
    background: linear-gradient(to bottom, rgba(60,61,61,.5), rgba(60,61,61,.0)), url('../assets/filip-zrnzevic-QsWG0kjPQRY-unsplash.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.me {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}